body {
    background-color: black;
    color: white !important;
}

#timer {
    width: 900px;
    /* height: 400px; */
    font-family: Arial;
}

#timer-content {
    width: 900px;
    /* height: 440px; */
}

#timer-body {
    /* margin-top: 40px; */
    height: 270px;
    margin-bottom: 50px;
}

#timer-value {
    font-size: 200px;
    /* line-height: 240px; */
    display: block;
    position: absolute;
    right: 50px;
}

#timer-value span {
    float: left;
}

#timer-value span[contenteditable] {
    width: 230px;
    text-align: center;
    outline: none;
    /* font-family: consolas; */
}

#timer-value-msec {
    font-size: 100px;
    display: block;
    position: absolute;
    right: 60px;
    top: 185px;
}

#btn1 {
    background-color: #0C0;
}

#btn2 {
    background-color: #F00;
}

#timer-btn {
    height: 90px;
    /* max-height: 0; */
    text-align: center;
}

#timer-btn>* {
    font-size: 45px;
    font-weight: bolder;
    border-radius: 16px;
    cursor: pointer;
    width: 190px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    user-select: none;
    display: inline-block;
    margin: 0px 10%;
}

.CENTER {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disabled {
    background-color: gray !important;
    cursor: not-allowed !important;
}